<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="vm-jogador.html">
<dom-module id="vm-editor">
    <template>
        <style>
        </style>
        <div id="backgroud">
            <vm-jogador id="jogador" nome="{{jogador.nome}}"></vm-jogador>
            <div class="controls">
                <paper-button on-tap="delete">Delete</paper-button>
                <paper-button on-tap="save">Salvar</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'vm-editor',

            properties: {
                jogador: {
                    type: Object,
                    notify: true
                },

                opened: {
                    type: Boolean,
                    reflectToAttribute: true,
                    readOnly: true,
                    value: false
                }
            },

            create() {
                this._setOpened(true);
            }

        })
    </script>
</dom-module>